h1  {
    text-align: center;
}

.centerup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

.centerdown {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }